<div class="b-another-object">
	<div class="item">
		<a href="#" class="info-wrap">
			<span class="blur" style="background: url('/data/object-image1.jpg') no-repeat center; background-size: cover"></span>
			<div class="info info-small">Строительство пяти морских терминалов порта Сочи (Имеретинка, Кургородок, Хоста, Дагомыс, Лоо)</div>
		</a>
	</div>
	<div class="item" style="background: url('/data/object-image2.jpg') no-repeat center; background-size: cover">
		<a href="#" class="info-wrap">
			<span class="blur" style="background: url('/data/object-image2.jpg') no-repeat center; background-size: cover"></span>
			<div class="info">Реконструкция покрытий ИВПП аэропортов Мурманска, Воронежа, Кирова</div>
		</a>
	</div>
</div>
