<div class="b-clients-and-partners">
	<div class="title-wrap">
		<div class="title">Клиенты и партнеры</div>
	</div>
	<div class="partners">
		<a href="#" class="item">
			<div class="info-wrap">
				<div class="info">КБ Интеркомменрц (ООО)</div>
			</div>
			<span class="logo" style="background: url('/data/clients1.png') no-repeat center;"></span>
		</a>
		<a href="#" class="item">
			<div class="info-wrap">
				<div class="info">КБ Интеркомменрц (ООО)</div>
			</div>
			<span class="logo" style="background: url('/data/clients2.png') no-repeat center;"></span>
		</a>
		<a href="#" class="item">
			<div class="info-wrap">
				<div class="info">КБ Интеркомменрц (ООО)</div>
			</div>
			<span class="logo" style="background: url('/data/clients3.png') no-repeat center;"></span>
		</a>
		<a href="#" class="item">
			<div class="info-wrap">
				<div class="info">КБ Интеркомменрц (ООО)</div>
			</div>
			<span class="logo" style="background: url('/data/clients4.png') no-repeat center;"></span>
		</a>
		<a href="#" class="item">
			<div class="info-wrap">
				<div class="info">КБ Интеркомменрц (ООО)</div>
			</div>
			<span class="logo" style="background: url('/data/clients5.png') no-repeat center;"></span>
		</a>
		<a href="#" class="item">
			<div class="info-wrap">
				<div class="info">КБ Интеркомменрц (ООО)</div>
			</div>
			<span class="logo" style="background: url('/data/clients6.png') no-repeat center;"></span>
		</a>
		<a href="#" class="item">
			<div class="info-wrap">
				<div class="info">КБ Интеркомменрц (ООО)</div>
			</div>
			<span class="logo" style="background: url('/data/clients7.png') no-repeat center;"></span>
		</a>
		<a href="#" class="item">
			<div class="info-wrap">
				<div class="info">КБ Интеркомменрц (ООО)</div>
			</div>
			<span class="logo" style="background: url('/data/clients8.png') no-repeat center;"></span>
		</a>
		<a href="#" class="item">
			<div class="info-wrap">
				<div class="info">КБ Интеркомменрц (ООО)</div>
			</div>
			<span class="logo" style="background: url('/data/clients9.png') no-repeat center;"></span>
		</a>
		<a href="#" class="item">
			<div class="info-wrap">
				<div class="info">КБ Интеркомменрц (ООО)</div>
			</div>
			<span class="logo" style="background: url('/data/clients10.png') no-repeat center;"></span>
		</a>
	</div>
</div>
