<div class="b-mission-ibg" style="background: url('/data/mission-ibg-background.jpg') no-repeat center; background-size: cover;">
	<div class="inner-mission">
		<div class="title">Миссия IBG</div>
		<div class="description">Как универсальная Российская страховая компания, мы понимаем свою миссию так:</div>
		<div class="item-wrap">
			<div class="item">
				<ul>
					<li>Быть верным проводником в выборе страхового продукта</li>
					<li>Быть надежным защитником финансовых и имущественных интересов своих клиентов</li>
					<li>Быть опорой для каждого обратившегося к нам.</li>
				</ul>
			</div>
			<div class="item">
				<div class="description">В своей деятельности мы придерживаемся незыблемых, основополагающих принципов честной работы:</div>
				<ul>
					<li>высокий профессионализм</li>
					<li>клиентоориентированность</li>
					<li>ответственность</li>
					<li>надежность</li>
				</ul>
			</div>
			<div class="item">
				<div class="description">Мы обеспечиваем уверенность и стабильность бизнеса, охрану жизни и здоровья наших клиентов</div>
				<div class="inner">
					<a href="#" class="g-button button-missing">О компании</a>
				</div>
			</div>
		</div>
	</div>
</div>
