<div class="b-news-main-in-page">
	<div class="inner-news">
		<a href="">
			<div class="wrap-item">
				<div class="info">IBG застраховала ОАО &laquo;172 ЦАРЗ&raquo; по программе автострахованияы</div>
				<div class="data"> 6 мая</div>
			</div>
		</a>
		<a href="">
			<div class="wrap-item">
				<div class="info">Воронеж: IBG застраховала ФГКУ УВО ГУ МВД России по Воронежской области</div>
				<div class="data">3 мая</div>
			</div>
		</a>
		<a href="" class="g-button all-news">Все новости</a>
	</div>
	<div class="inner-staff">
		<div class="wrap-item">
			<div class="face"></div>
			<div class="description">Инновационные технологии, сплоченная команда профессионалов IBG и наши высокие стандарты качества обеспечат нашим клиентам финансовую безопасность и процветание бизнеса.</div>
			<div class="name"></div>
		</div>
	</div>
</div>
