<div class="b-news-in-main-page">
	<div class="news">
		<div class="item-wrap">
			<a href="#" class="item">
				<div class="info">IBG застраховала ОАО &laquo;172 ЦАРЗ&raquo; по программе автострахованияы</div>
				<div class="data"> 6 мая</div>
			</a>
			<a href="#" class="item no-image">
				<div class="info">Воронеж: IBG застраховала ФГКУ УВО ГУ МВД России по Воронежской области</div>
				<div class="data">3 мая</div>
			</a>
		</div>
		<div class="inner">
			<a href="#" class="g-button all-news">Все новости</a>
		</div>
	</div>
	<div class="staff">
		<div class="inner">
			<div class="face"></div>
			<div class="description">Инновационные технологии, сплоченная команда профессионалов IBG и наши высокие стандарты качества обеспечат нашим клиентам финансовую безопасность и процветание бизнеса.</div>
			<a href="#" class="name">Москалева Татьяна Николаевна</a>
			<div class="post">Генеральный директор IBG</div>
			<a href="#" class="g-button guide">Руководство</a>
		</div>
	</div>
</div>
