<div class="b-object-gallery">
	<div class="inner">
		<div class="counter">
			<div class="item">1</div>
			<div class="item">из</div>
			<div class="item">10</div>
		</div>
		<div class="slider g-slider">
			<div class="item" style="background: url('/data/object-gallery1.jpg') no-repeat center; background-size: cover"></div>
			<div class="item" style="background: url('/data/object-gallery1.jpg') no-repeat center; background-size: cover"></div>
		</div>
	</div>
	<div class="map-object">
		<div class="map-inner" id="map"></div>
		<div class="inner">
			<a href="#" class="g-button button-map">Объект на карте</a>
		</div>
	</div>
</div>
