<div class="b-reconstruction-project">
	<div class="inner">
		<div class="title">МЕЖДУНАРОДНЫЙ АЭРОПОРТ &laquo;УФА&raquo;</div>
		<div class="address">ул.Аэропорт, село Булгаково, Уфимский район, Руспублика Башкортостан</div>
		<div class="contractor">
			<div class="construction">Подрядчик:</div>
			<a href="#" class="more">ООО &laquo;Трансстроймеханизация&raquo; (ТСМ)
				<span class="icon"></span>
			</a>
			<div class="deadline">Срок исполнения:</div>
			<div class="data">2014-2015 гг.</div>
		</div>
		<div class="reconstruction">
			<div class="description">
				В рамках проекта будет произведен восстановительный ремонт искусственной взлетно-посадочной полосы (ИВПП) № 2 с
				заменой плит покрытия; реконструкция существующего и строительство нового перронов для обеспечения эксплуатации
				расчетных типов воздушных судов (ВС). Проектом предусмотрено строительство новой соединительной рулежной дорожки,
				также будет произведена модернизация светосигнального оборудования РД, реконструкция водосточно-дренажной системы,
				строительство очистных сооружений, реконструкция системы электроснабжения аэродрома и внутриаэродромных автодорог,
				включая патрульную дорогу.
			</div>
			<a href="#" class="more">Ход работ по реконструкции 2014 г.
				<span class="icon"></span>
			</a>
			<a href="#" class="more">Подробности государственного контракта
				<span class="icon"></span>
			</a>
		</div>
	</div>
</div>
